{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/display-name": 0,
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [
          ".js"
        ]
      }
    ],
    "comma-dangle": 0,
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "yoda": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "max-len": [
      "error",
      1000
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
